.tag {
    padding: .4rem 1rem;
    color: #39739d;
    background-color: #e1ecf4;
    width: fit-content;
    border-radius: 4px;
    font-size: .8rem;
    position: relative;
    display: inline-block;
    margin-right: .5rem;
    margin-bottom: .4rem;
}

.tag .tag-action {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.tag .tag-action i {
    font-size: .6rem !important;
    border-radius: 50%;
    padding: .1rem;
}
.tag .tag-action:hover i {
    background-color: rgba(44,87,119,.9);
    color: #fff;
    border-radius: 4px
}

