:root {
    --main-bg-color: #181818;
    --header-bg-color: #202020;
    --main-text-color: #ffffff;
}

*::-webkit-scrollbar {
    width: .6em;
    
  }
  *::-webkit-scrollbar,
  *::-webkit-scrollbar-thumb {
    overflow:visible;
    border-radius: 4px;
    
  }
  *::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,.6); 
  }
  

html
{
 scroll-behavior:smooth
}
html{
  scroll-behavior:smooth
}


html {
    height: 100%;
}

body {
    height: 100%;
    /* background-color: #181818; */
}

#root {
    height: 100%;
    display: grid;
    grid-template-rows: 6rem 1fr 6rem;
    font-family: Montserrat, sans-serif;
}

header {
    margin: 0 3rem;
}
#main-header {
    height: 100%;
}
#main-header .main-nav {
    padding-top: 1rem;
    height: 100%;
}
#main-header .main-nav__items {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
}
#main-header .main-nav__item {
    margin-right: 1rem;
}
#main-header .main-nav__item.youarehere a::after {
    content: '';
    height: 2px;
    background-color: #0099F9;
    position: absolute;
    bottom: 0;
    width: calc(100% - 1.6rem);
    transition: .4s ease;
    left: 13px;
    z-index: 0;
}
#main-header .main-nav__item a {
    padding: .3rem .8rem;
    color: #333333;
    font-weight: bold;
    transition: .2s color ease;
    position: relative;
}
#main-header .main-nav__item a:hover {
    color: #000;
    font-weight: bold;
}
#main-header .main-nav__item a::before {
    content: '';
    height: 2px;
    background-color: #2FFFAD;
    position: absolute;
    bottom: 0;
    width: 0%;
    transition: .4s ease;
    z-index: 1;
}
#main-header .main-nav__item a:hover::before {
    width: calc(100% - 1.6rem);
}
#main-header .main-nav__item:first-child,
#main-header .main-nav__item:nth-child(2){
    margin-right: auto
}

#main-header .dropdown {

}
#main-header .main-nav__item__dropdown {
    position: relative;
}
#main-header .btn-dropdown {
    border-radius: 2rem;
}
#main-header .btn-dropdown:hover {
    background-color: rgba(0, 0, 0, .1);
}

#main-header .main-nav__item__dropdown .avatar {
    max-width: 2rem;
    border-radius: 50%;
    vertical-align: middle;
}

.main-nav__item--logo {
    max-width: 200px;
}

.mobile-nav__items {
    position: fixed;
    top: 0;
    left: 0;
    width: 65vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    box-sizing: content-box;
    /* display: none; */
}

.mobile-nav__item {
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #aeb2b7;
    font-size: 1.5rem;
    width: 70%;
    text-align: center;
    cursor: pointer;
}
.mobile-nav__item:first-child {
    border: 3px solid #2FFFAD;
    border-bottom-width: 0;
    border-right-width: 0;
}
.mobile-nav__item:last-child {
    border: 3px solid #2FFFAD;
    border-top-width: 0;
    border-left-width: 0;
}
.mobile-nav__item:hover {
    color: #fff;
}
.main-nav__item--mobile:first-child {
    display: none;
}

.dropdown .dropdown-list {
    position: absolute;
    min-width: 14rem;
    right: 20px;
    padding: .8rem 1rem;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, .2);
    opacity: 0;
    display: none;
    z-index: 998;
    background-color: #fff;
}
.dropdown .dropdown-list.open {
    opacity: 1;
    animation: animateDropdown .2s ease;
    top: 46px;
    display: block;
}

.dropdown .dropdown-list__item {
    padding: .4rem .8rem;
    font-size: .9rem;
    color: #3d485f;
    font-weight: bold;
    margin-bottom: .5rem;
}
.dropdown .dropdown-list__item--hr {
    padding: .3px;
    background-color: #b4abab;
    width: 97%;
    margin-left: auto;
}
.dropdown .dropdown-list__item:hover {
    color: #000;
}

.dropdown .dropdown-list__arrow::before {
    content: '';
    border: 8px solid transparent;
    border-bottom-color: #fff;
    position: absolute;
    top: -16px;
    right: 10px;
    z-index: 1;
}
.dropdown .dropdown-list__arrow::after {
    content: '';
    border: 8px solid transparent;
    border-bottom-color: rgba(0, 0, 0, .4);
    position: absolute;
    top: -16px;
    right: 10px;
}
/* .dropdow-list__backdrop {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 0;
} */

/* MAIN */
main {
    margin: 5rem 3rem 0 3rem;
}

section {
    padding-bottom: 5rem;
}
#introduce h1,
#features h1 {
    display: inline-block;
    border: 3px solid #0099F9;
    padding: .4rem 1rem;
    border-top-width: 0;
    border-right-width: 0;
}

#introduce, #features {
    display: flex;
    align-items: center;
}

.introduce-left {
    width: 55%;
    margin-right: 5%;
}
.introduce-left img,
.introduce-right img {
    width: 100%;
    min-width: 330px;
}

.introduce-right {
    width: 45%;
}

.introduce__title {
    font-size: 3.2rem;
    font-weight: bold;
    color: #0099F9;
}

.introduce__description,
.stack__description {
    color: #3d485f;
}

#features .introduce-left {
    width: 45%;
}
#features .introduce-right {
    width: 55%;
}

#stack {
    text-align: center;    
}
#stack h3 {
    margin-top: 0;
}
#stack h1  {
    text-align: center;
    font-size: 3.2rem;
    font-weight: bold;
    color: #0099F9;
    margin-bottom: .5rem;
    border: none;
}
#stack p  {
    max-width: 80%;
    margin: 1rem auto;
}
#stack .stack-images  {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#stack .stack-images img {
    max-width: 20%;
    max-height: 7rem;
}


footer h3 {
    text-align: center;
}
footer nav {
    text-align: center;
}
footer nav a {
    margin-right: 1rem;
    padding: .6rem;
    transition: .4s ease;
}

footer nav a:hover {
    color: #0099F9;
    background-color: #ccc;
    border-radius: 50%;
}


@keyframes plusWidthTo100 {
    0% {
        width: 0;
    }

    100% {
        width: calc(100% - 1.6rem);
    }
}

@keyframes animateDropdown {
    0% {
        opacity: .2;
        top: 60px;
    }

    100% {
        opacity: 1;
        top: 46px;
    }
}